<div id="quickSearch">
    <span id="QuickSearchHeading">
        Quick Search
    </span>
    <span id="QuickSubHeading">
        Find Restaurants By MealType
    </span>
    <div class="mainBox">
        <div class="tileContainer"  *ngFor="let Items of MealType">
            <div class="tileComponent1">
                <img [src]="Items.meal_image" alt="rest" />
            </div>
            <div class="tileComponent2">
                <div class="componentHeading">
                    <a [routerLink]="['/listing', Items.mealtype_id]">{{Items.mealtype | MyUpper }}</a>
                </div>
                <div class="componentSubHeading">
                    {{Items.content}}
                </div>
            </div>
        </div>
    </div>
</div>